---
import SiteLayout from "@/src/layouts/SiteLayout.astro";
import ContainerHome from "@/src/components/ContainerHome.astro";
import ProjectsList from "@/src/components/ProjectsList.astro";
import HomeHero9 from "@/src/components/hero/HomeHero9/HomeHero9";
import { getPersonalProjects, getClientProjects } from "@/sanity/sanity-utils";
import { draftFetchOptions } from "@/sanity/preview";

export const prerender = false;

const fetchOptions = draftFetchOptions(Astro.locals);
const [personalProjects, clientProjects] = await Promise.all([
  getPersonalProjects(fetchOptions),
  getClientProjects(fetchOptions),
]);
---

<SiteLayout ogImage="/og/home.png">
  <ContainerHome className="relative z-10">
    <HomeHero9 client:load />
    <div class="relative z-10 flex flex-col gap-10">
      <ProjectsList
        projects={personalProjects.filter((p) => !p.archived)}
        title="Projects"
        columns={3}
        scroll={false}
        initialCount={3}
      />
      <ProjectsList
        projects={clientProjects.filter((p) => !p.archived)}
        title="Client Work"
        columns={4}
        scroll={false}
      />
    </div>
  </ContainerHome>
</SiteLayout>
