---
import SiteLayout from "@/src/layouts/SiteLayout.astro";
import Container from "@/src/components/Container.astro";
import MusicList from "@/src/components/MusicList.astro";
import { getMusic } from "@/sanity/sanity-utils";
import { draftFetchOptions } from "@/sanity/preview";

export const prerender = false;

const music = await getMusic(draftFetchOptions(Astro.locals));
---

<SiteLayout
  title="Music - Chase Cee"
  description="Music, albums, links, and embeds curated by Chase Cee."
  ogImage="/api/og/home.png"
>
  <Container>
    <div class="">
      <div class="prose">
        <h1>Music</h1>
      </div>
      <div class="not-prose">
        <MusicList items={music} />
      </div>
    </div>
  </Container>
</SiteLayout>
