@tailwind base;
@tailwind components;
@tailwind utilities;

#my_dataviz text, #d3viz text{
  pointer-events: none;
  fill:black;
}
@media (prefers-color-scheme: dark) {
  #my_dataviz text, #d3viz text{
    pointer-events: none;
    fill:white;
  }
}
.separator {
  margin: 0 5px;
  opacity: 0.5;
}
.svg-parent svg{
  width: 100%;
  height: 100%;
}