@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    prose a {
      @apply text-opacity-70 text-black dark:text-white;
    }
    prose a:hover {
      @apply text-opacity-100;
    }
    a:active {
      @apply translate-y-px;
    }
}
@layer components {
  .logo-delay:hover .logoPath{
    @apply scale-110;
  }
  .logo-delay:hover .logoPath:not(.logoMain){
    @apply fill-[#b12725];
  }
  .logoPath {
    @apply transition-all duration-500 origin-center transform-gpu;
  }
  .logoMain {
    @apply fill-white;
  }
  /* .logo-delay:hover .logoBg,
  .logo-delay:hover .logoMask {
    @apply  rotate-90;
  } */
  /* .logoBg,
  .logoMask {
    @apply  origin-center transition-transform;
  } */

}
@layer utilities {
  /* SCROLL VIEW */
  .in-view .view-actor {
    @apply -translate-y-[28%] duration-300;
  }
  .in-view .view-actor-image {
    @apply -translate-y-[75%];
  }
  .view-actor {
    @apply transition-transform duration-500;
  }
  .project-item:nth-child(even) .view-actor {
    @apply md:delay-100;
  }
  .project-item:nth-child(even) .view-actor-image {
    @apply md:delay-200;
  }
  /* ANIMATIONS */

  @keyframes fadein {
    0% { opacity: 0; }
    100% { opacity: 1; }
  }

  .fade-in {
      animation: fadein 2s;
      animation-delay: 0.25s;
      animation-fill-mode: both;
  }

  @keyframes fadeinup {
    0% {
        opacity: 0;
        transform: translateY(2rem);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
  }
  .fade-in-up {
    animation: fadeinup 2s;
    animation-delay: 0.25s;
    animation-fill-mode: both;
  }

  .a-delay-500ms { animation-delay: 500ms; }
  .a-delay-1000ms { animation-delay: 1000ms; }
  .a-delay-1500ms { animation-delay: 1500ms; }
  .a-delay-2000ms { animation-delay: 2000ms; }
  .a-delay-2500ms { animation-delay: 2500ms; }
  .a-delay-3000ms { animation-delay: 3000ms; }
  .a-delay-3500ms { animation-delay: 3500ms; }
  .a-delay-4000ms { animation-delay: 4000ms; }

}
#my_dataviz text, #d3viz text{
  pointer-events: none;
  fill:black;
}
@media (prefers-color-scheme: dark) {
  #my_dataviz text, #d3viz text{
    pointer-events: none;
    fill:white;
  }
}
.separator {
  margin: 0 5px;
  opacity: 0.5;
}
.svg-parent svg{
  width: 100%;
  height: 100%;
}
.header__menu .header__item {
  @apply hover:underline underline-offset-4;
}