:root {
  --blur-amount: 75px;
}
@keyframes breathe {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

.blob-wrapper {
  @apply absolute inset-0 opacity-30;
  animation: breathe 5s ease-in-out infinite; /* Default animation */
  &:nth-child(1) {
    animation-direction: reverse;
  }
}
.blob {
  @apply transform-gpu;
  width: 50%;
  height: 100%;
}
.blobs-container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  opacity: 0;
  transform: translateY(50px); /* Initial state: slightly lower */
  transition:
    transform 1s ease-in-out,
    opacity 1s ease-in-out;
}

.blobs-container.fade-in-up {
  opacity: 1;
  transform: translateY(0); /* Final state: original position */
}

.blob.fade-in-up {
  opacity: 1;
  transform: translateY(0); /* Final state: original position */
}
#blob1 {
  border-radius: 75% 90%;
  /* background-color: rgb(143, 108, 159); */
  background-color: red;
  transform: rotate(19deg);
  filter: blur(var(--blur-amount));
  mix-blend-mode: soft-light;

  position: absolute;
  top: 25%;
  left: -10%;
}

#blob2 {
  border-radius: 50% 33%;
  /* background-color: rgb(204, 231,227); */
  background-color: yellow;
  position: absolute;
  top: 50%;
  left: 33.33%;
  filter: blur(var(--blur-amount));
  mix-blend-mode: overlay;
}

#blob3 {
  border-radius: 45% 40%;
  position: absolute;
  top: 20%;
  left: 66.66%;
  /* background-color: rgb(199, 196, 222); */
  background-color: blue;
  filter: blur(var(--blur-amount));
  mix-blend-mode: overlay;
}
#blob4 {
  border-radius: 45% 40%;
  position: absolute;
  top: -20%;
  opacity: 0.34;
  left: 20%;
  height: 20%;
  /* background-color: rgb(199, 196, 222); */
  background-color: rgba(0, 128, 0, 0.339);
  filter: blur(var(--blur-amount));
  mix-blend-mode: overlay;
}

#noiseLayer {
  @apply absolute inset-0 z-[1] mix-blend-overlay;
  filter: url(#noiseFilter) brightness(0.4) contrast(1.1);
}
