---
import SiteLayout from "@/src/layouts/SiteLayout.astro";
import ContainerHome from "@/src/components/ContainerHome.astro";
import ProjectsList from "@/src/components/ProjectsList.astro";
import HomeHero9 from "@/src/components/hero/HomeHero9/HomeHero9";
import BottomCTA from "@/src/components/BottomCTA";
import { getPersonalProjects, getClientProjects } from "@/sanity/sanity-utils";

const [personalProjects, clientProjects] = await Promise.all([
  getPersonalProjects(),
  getClientProjects(),
]);
---

<SiteLayout ogImage="/og/home.png">
  <ContainerHome className="relative z-10">
    <HomeHero9 client:load />
    <div class="relative z-10 flex flex-col gap-10">
      <ProjectsList
        projects={personalProjects}
        title="Personal Projects"
        columns={3}
      />
      <ProjectsList
        projects={clientProjects}
        title="Client Work"
        columns={4}
      />
    </div>
    <BottomCTA client:visible />
  </ContainerHome>
</SiteLayout>
